<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="SharedAssembly"
								  publicKeyToken="332a33ed1547b4e6" />
				<bindingRedirect  oldVersion="1.0.0.0"
								  newVersion="1.1.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
